.topic-card {
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
  justify-content: space-between;
  max-width: 100%;
  padding: 32px 0;
}

.topic-card h4 {
  font-size: 18px;
}

.topic-card p {
  text-align: justify;
}

.subtopic-list {
  padding-left: 24px;
}

.subtopic-item h5 {
  font-size: 16px;
}

.subtopic-item p {
  opacity: 0.7;
  font-size: 14px;
}
