* {
  font-family: Roboto, Times, serif;
  /* para editar a fonte */
}

#page {
  /* para ajustar o texto na pagina */
  display: flex;
  flex-direction: row;
  margin: auto;
}

.curriculum-section {
  text-align: center;
}
