@import url("https://fonts.googleapis.com/css?family=Roboto:300,400,700&display=swap");

:root {
  /* variável para a cor ficar sempre igual */
  --header-background: pink;
  --dark-font: #3E3C3C;
}

body {
  background-color: whitesmoke;
}

* {
  margin: 0;
  padding: 0;
  font-family: Roboto, Times, serif;
  /* para editar a fonte */
}

#page {
  display: flex;
  min-height: 100vh;
  min-width: 100vw;
}
